<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML GOLANG</title>
    <style>
        .sub-container{
            display: flex;
            flex-direction: row;
        }
        .sepal{
            width: 50%;
        }
        .petal{
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="sub-container">
            <div class="sepal">
                <img src="sepal_length_scatter.png" alt="">
            </div>
            <div class="petal">
                <img src="petal_length_scatter.png" alt="">
            </div>
        </div>
    </div>    
</body>
</html>